@media (min-width: 641px) {
    .discover-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8";
    }

    .attraction-card h2 {
        font-size: 1.4rem;
        color: var(--primary-color);
    }
}